/* font-family: 'Source Serif Pro', serif;
font-family: 'Pontano Sans', sans-serif; */

body{
    background-color:#ffaaa5;
    font-family: 'Source Serif Pro', serif;
}
li {
    /* display: inline-block; */
    border: 1px solid black;
    margin: 2px;
    padding: 2px;
    width: 100px;

}
h1{
    display: inline-block;
    position: relative;
    margin-left: 375px;
    margin-top:50px;
    border-radius: 10px;
    border: 1px dotted black;
    background-color: #ff8b94;
    padding: 10px 80px;
    font-family: 'Source Serif Pro', serif;

}

#instructions{
    display: inline-block;
    position: relative;
    left: 450px;
    margin-top: 50px;
    width: 300px;
    background-color: #decdc1;
    border: 1px solid black;
    border-radius: 10px;
    padding: 20px;

}

#page-title {
    display: inline-block;
    position: relative;
    margin-left: 450px;
    margin-top:50px;
    border-radius: 10px;
    border: 1px dotted black;
    background-color:#ff8b94;
    padding: 10px 80px;
    font-family:'Source Serif Pro', serif;

}

img {
    position: relative;
    left: 250px;
   
}

fieldset {
    position: relative;
    display: inline-block;
    width: 200px;
    height: 200px;
    margin-top: 10px;
    margin-left: 30px;
    margin-right: auto;
    border-radius: 10px;
    background-color:#ff8b94;
    
}

legend{
    border: 1px solid red;
    background-color:#dcedc1;
  
}
input {
    background-color:#ffd3b6;
display: block;
margin: 15px;
}

button {
    background-color: #a8e6cf;
}


td{
font-family:'Pontano Sans', sans-serif;
background-color: #dcedc1;
padding: 10px;
margin: 10px;
border: 1px dotted black;
border-radius: 10px;

}

table{ 
    border: 1px solid black;
    border-radius: 10px;
    background-color:#a8e6cf;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    padding: 20px;
    
    
}