body{
    background-color:lightcoral;
}
li {
    /* display: inline-block; */
    border: 1px solid black;
    margin: 2px;
    padding: 2px;
    width: 100px;

}
h1{
    display: inline-block;
    position: relative;
    margin-left: 450px;
    margin-top:50px;
  
}

img {
    position: relative;
    left: 250px;
   
}

fieldset {
    position: relative;
    width: 200px;
    height: 200px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    
    background-color: lavender;
}

input {
display: block;
margin: 15px;

}

thead{
    background-color: lightblue;
}


td{
background-color: lightseagreen;
padding: 10px;
margin: 10px;

}

table{ 
    display: inline-block;
    position: relative;
    left: 200px;
    margin-top: 50px;
    
}